/* Reset default margin, padding, and box-sizing behavior for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: JetBrainsMono-Light;
}

/* Style for the main container */
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

/* Style for the to-do app container */
.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

/* Style for the to-do app title */
.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Style for the to-do app icon */
.todo-app img {
    width: 30px;
    margin-left: 10px;
}

/* Style for rows containing tasks */
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

/* Style for input elements */
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

/* Style for buttons */
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

/* Style for list items */
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

/* Style for the checkbox icon before list items */
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/Mein/bilder/unchecked.png); /* Customize this URL */
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

/* Style for checked list items */
ul li.checked {
    color: #555;
    text-decoration: line-through;
}

/* Style for the checkbox icon of checked list items */
ul li.checked::before {
    background-image: url(/Mein/bilder/checked.png); /* Customize this URL */
}

/* Style for the delete button on list items */
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

/* Style for the delete button on hover */
ul li span:hover {
    background: #edeef0;
}